<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <h3>Assignment</h3>
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="form/create" class="nav-link px-2 link-dark">Form</a></li>
          
          </ul>
        </header>
      </div>
      <div class="container">
       
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sno.</th>
            <th scope="col">Student name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Physics marks</th>
            <th scope="col">Chemistry marks</th>
            <th scope="col">CS marks</th>
            <th scope="col">Percentage</th>
          </tr>
        </thead>
        {% for detail in details %}
        <tbody>
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{detail.student_name}}</td>
            <td>{{detail.dob}}</td>
            <td>{{detail.physics_marks}}/100</td>
            <td>{{detail.chemistry_marks}}/100</td>
            <td>{{detail.cs_marks}}/100</td>
            <td>{{detail.per|floatformat:2}}</td>
            
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
</body>
</html>